# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
dtdt/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject
